/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth scrolling */

html {
  scroll-behavior: smooth;
}

/* Body */

body {
  min-width: 320px;
  min-height: 100vh;

  font-family:
    Inter,
    system-ui,
    sans-serif;

  background-color: #ffffff;

  color: #111827;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Images */

img {
  display: block;
  max-width: 100%;
}

/* Buttons */

button {
  cursor: pointer;
  border: none;
}

/* Containers */

.container {
  max-width: 1280px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}